body{
    font-family: 'Poppins', sans-serif;

    margin: 0;
}

span{
    color: orange;
}

.flexible{
    display: flex;

}

.half-width{

    padding-left: 7%;
    padding-top: 5%;
}


.linked-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    border-radius: 5px;

}
.pic{
    padding-left: 2%;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream{
    padding-top: 5%;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
}
.orange-color{
    color: orange;
}

.half-width1{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;

}
.experience-area{
    padding-top: 2%;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    padding-bottom: 5%;
}
#valorant{
    border-left: 7px solid;
    border-image: linear-gradient(red,blue);
    border-image-slice: 1;
}

#dota{
    border-left: 7px solid;
    border-image: linear-gradient(violet,salmon);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}